body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

div {

  margin-bottom: 15px;
}

#user-prompt {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main {
  display: flex;
}

#submit-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #3e8e41;
}

#result {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}



.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#history {
  margin-top: 20px;
  flex-direction: column;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}